ul.list{
    list-style: none;
    padding: 0;
}

ul.list > li {
    padding: 0;
}
/* 초기상태에 tag를 감추어라 */
.list-check{
    display: none;
}

label {
    padding: 10px;
    margin: 0;
    border-top: 1px solid #ddd;
    background-color: #f4f4f4;
    cursor: pointer;
    display: block;
}
/* div box를 존재는 하되 화면에서 감추는 효과를 주기 */
div.para{
    max-height: 0;
    overflow: hidden;
    transition: 0.3s;
}

div.para > div {
    margin: 10px;
}
/*
    radio box가 check가 되면 아래에 인접한 label, div.para 항목을
    최대 높이값을 1000px로 설정 
    max-hight를 설정하면 내부의 content 높이까지 높이가 증가하다가
    최대 1000px 까지만 커져라
*/
.list-check:checked + label + div.para {
    max-height: 1000px;
}